.DS_Store
*.o
*~
.sconsign.dblite
*.pyc
*.sln
*.vcxproj
*.filters
*.user
*.VC.db
*.VC.opendb
*.exe
*.ilk
*.pdb
*.vs/
*.cd

Physika_Test/debug
debug/

*.log
*.cache
*.deps
*.lastbuildstate
*.tlog
*.iobj
*.ipdb

AutoBuild/*
build/*
buildDebug/*
.vscode/*

Build/x64/Release/Physika_Core.lib
Build/x64/Release/cudart32_91.dll
Build/x64/Release/cudart64_91.dll
Build/App_Test/console_log.txt
Build/x64/Release/console_log.txt
Build/x64/Release/App_Test

Build/App_Test/screen_capture_7.png
Build/App_Test/screen_capture_6.png
Build/App_Test/screen_capture_5.png
Build/App_Test/screen_capture_4.png
Build/App_Test/screen_capture_3.png
Build/App_Test/screen_capture_2.png
Build/App_Test/screen_capture_1.png
Build/App_Test/screen_capture_0.png
Build/App_QtGUI/release/moc_mainwindow.cpp
Build/App_QtGUI/release/moc_QLichtWidget.cpp
Build/App_QtGUI/release/moc_DockWidget.cpp
Build/App_QtGUI/release/moc_toolbar.cpp

*.bin
*.ipch
/docs
/console_log.txt