[submodule "external/pybind11"]
	path = external/pybind11
	url = https://mirror.ghproxy.com/https://github.com/pybind/pybind11.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/alembic"]
	path = external/alembic
	url = https://mirror.ghproxy.com/https://github.com/clouddon/alembic.git
[submodule "external/Imath"]
	path = external/Imath
	url = https://mirror.ghproxy.com/https://github.com/clouddon/Imath.git
[submodule "external/nodeeditor"]
	path = external/nodeeditor
	url = https://mirror.ghproxy.com/https://github.com/clouddon/nodeeditor.git
