[submodule "external/pybind11"]
	path = external/pybind11
	url = https://gitee.com/clouddon/pybind11.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitee.com/clouddon/eigen.git
[submodule "external/alembic"]
	path = external/alembic
	url = https://gitee.com/clouddon/alembic.git
[submodule "external/Imath"]
	path = external/Imath
	url = https://gitee.com/clouddon/Imath.git
[submodule "external/nodeeditor"]
	path = external/nodeeditor
	url = https://gitee.com/clouddon/nodeeditor.git
[submodule "external/gmsh-fork"]
	path = external/gmsh-fork
	url = https://gitee.com/peridyno/gmsh-fork.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://gitee.com/bigshark151/tinyobjloader.git
[submodule "external/stb"]
	path = external/stb
	url = https://gitee.com/peridyno/stb.git
[submodule "data"]
	path = data
	url = https://gitee.com/peridyno/data.git
[submodule "external/qscintilla"]
	path = external/qscintilla
	url = https://gitee.com/unibeam/qscintilla.git
