.DS_Store
*.o
*~
.sconsign.dblite
*.pyc
*.sln
*.vcxproj
*.filters
*.user
*.VC.db
*.VC.opendb
*.exe
*.ilk
*.pdb
*.vs/
*.cd

*.log
*.cache
*.deps
*.lastbuildstate
*.tlog
*.iobj
*.ipdb

AutoBuild/*
build/*
buildDebug/*
.vscode/*

*.bin
*.ipch
/docs
/console_log.txt